<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="kr.co.re.subscription.payment.PocPaymentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="kr.co.re.subscription.POC_NEW_SUBSCRIPTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
